<?xml version="1.0"?>
<config>
  <modules>
    <SylwesterKowal_Delivery>
      <version>0.1.0</version>
    </SylwesterKowal_Delivery>
  </modules>
  <frontend>
    <routers>
      <delivery>
        <use>standard</use>
          <args>
            <module>SylwesterKowal_Delivery</module>
            <frontName>delivery</frontName>
          </args>
      </delivery>
    </routers>
		<layout>
		  <updates>
			<delivery>
			  <file>delivery.xml</file>
			</delivery>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <delivery>
        <class>SylwesterKowal_Delivery_Helper</class>
      </delivery>
    </helpers>
	<blocks>
	  <delivery>
		<class>SylwesterKowal_Delivery_Block</class>
	  </delivery>
			<adminhtml>
				<rewrite>
					<sales_order_grid>SylwesterKowal_Delivery_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
	</blocks>
	<resources>
	  <delivery_setup>
		<setup>
		  <module>SylwesterKowal_Delivery</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </delivery_setup>
	  <delivery_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </delivery_write>
	  <delivery_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </delivery_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <delivery>
	    <use>admin</use>
		<args>
		  <module>SylwesterKowal_Delivery</module>
		  <frontName>admin_delivery</frontName>
		</args>
	  </delivery>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <delivery module="delivery">
		<title>Delivery</title>
		<sort_order>100</sort_order>
		<children>
		  <deliverybackend module="delivery">
			<title>Delivery</title>
			<sort_order>0</sort_order>
			<action>admin_delivery/adminhtml_deliverybackend</action>
		  </deliverybackend>
		</children>
	  </delivery>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<delivery translate="title" module="delivery">
			  <title>Delivery</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <deliverybackend translate="title">
			<title>Delivery</title>
		  </deliverybackend>
			  </children>
			</delivery>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<delivery>
		  <file>delivery.xml</file>
		</delivery>
	  </updates>
	</layout>
  </adminhtml>    
    <crontab>
        <jobs>            
			<delivery_deliverycron>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>delivery/cron::deliverycron</model></run>
            </delivery_deliverycron>
        </jobs>
    </crontab>
</config> 