<?xml version="1.0"?>
<config>
    <modules>
        <Sylwesterkowal_OrdersGrid>
            <version>0.4.0</version>
        </Sylwesterkowal_OrdersGrid>
    </modules>
    <frontend>
        <routers>
            <ordersgrid>
                <use>standard</use>
                <args>
                    <module>Sylwesterkowal_OrdersGrid</module>
                    <frontName>ordersgrid</frontName>
                </args>
            </ordersgrid>
        </routers>
        <layout>
            <updates>
                <ordersgrid>
                    <file>ordersgrid.xml</file>
                </ordersgrid>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <Sylwesterkowal_OrdersGrid>
                <class>Sylwesterkowal_OrdersGrid_Model</class>
            </Sylwesterkowal_OrdersGrid>
        </models>
    </global>
    <admin>
        <routers>
            <ordersgrid>
                <use>admin</use>
                <args>
                    <module>Sylwesterkowal_OrdersGrid</module>
                    <frontName>admin_ordersgrid</frontName>
                </args>
            </ordersgrid>
        </routers>
    </admin>
    <adminhtml>
        <events>
			<!-- sales_order_grid_collection_load_before>
				<observers>
					<Sylwesterkowal_OrdersGrid>
						<model>Sylwesterkowal_OrdersGrid/observer</model>
						<method>salesOrderGridCollectionLoadBefore</method>
					</Sylwesterkowal_OrdersGrid>
				</observers>
			</sales_order_grid_collection_load_before -->
			<core_block_abstract_prepare_layout_before>
                <observers>
					<Sylwesterkowal_ordersgrid_column_remove>
                        <type>model</type>
                        <class>Sylwesterkowal_OrdersGrid_Model_Observer</class>
                        <method>KurierOrdersGrid</method>
                    </Sylwesterkowal_ordersgrid_column_remove>
				</observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <Sylwesterkowal_ordersgrid_column_append>
                        <type>model</type>
                        <class>Sylwesterkowal_OrdersGrid_Model_Observer</class>
                        <method>appendOrdersGrid</method>
                    </Sylwesterkowal_ordersgrid_column_append>
                </observers>
            </core_block_abstract_prepare_layout_before>    
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <ordersgrid translate="title" module="ordersgrid">
                            <title>Delivery</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <deliverybackend translate="title">
                                    <title>Delivery</title>
                                </deliverybackend>
                            </children>
                        </ordersgrid>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<Sylwesterkowal>
					<file>Sylwesterkowal/ordersgrid.xml</file>
				</Sylwesterkowal>
			</updates>
		</layout>
    </adminhtml>


	<default>
		<ordersgrid>
		  <sylwesterkowal_ordersgrid_settings>
			<show_admin_orders_grid>1</show_admin_orders_grid>
		  </sylwesterkowal_ordersgrid_settings>
		</ordersgrid>
	</default>
</config>