<?xml version="1.0" encoding="UTF-8"?>
<config>
<tabs>
	<seowebapps translate="label">
		<label>21w.pl Wdrożenia Magento</label>
		<sort_order>200</sort_order>
	</seowebapps>
</tabs>
  <sections>
  	<ordersgrid translate="label"  >
      <label>Zamówienie Kuriera</label>
      <tab>seowebapps</tab>
      <frontend_type>text</frontend_type>
      <sort_order>100</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
	  <groups>
			<swa_ordersgrid_settings translate="label" >
				<label>Admin Orders Grid Settings</label>
          		<sort_order>100</sort_order>
          		<show_in_default>1</show_in_default>
          		<show_in_website>1</show_in_website>
          		<show_in_store>1</show_in_store>
				<expanded>1</expanded>
				<fields>
					<show_admin_orders_grid translate="label" >
						<label>Enable Admin Orders Grid?</label>
						<frontend_type>select</frontend_type>
             			<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>1</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</show_admin_orders_grid>
				</fields>		
			</swa_ordersgrid_settings>
		</groups>
    </ordersgrid>
  </sections>
</config>


